name: migrate

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  execute:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.16

    - name: Run
      run: go run main.go
      env:
        DSN_LOCAL: ${{ secrets.DSN_LOCAL}}
